.cell {
    height: 30px;
    width: 30px;
    background-color: gray;
    border: 1px solid black;
    /* border-radius: 4px; */
    box-shadow: 5px 5px 5px gray;
}

.mines {
    height: 30px;
    width: 30px;
    background-color: gray;
    border: 1px solid black;
    /* border-radius: 4px; */
    box-shadow: 5px 5px 5px gray;
}

.revealedMines {
    height: 30px;
    width: 30px;
    background-color: black;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}

.safeCells {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 1px solid black;
    /* border-radius: 4px; */
    box-shadow: 5px 5px 5px gray;
}

#container {
    /* width: 800px;
    height: 800px; */
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 15px; */
    /* background-color: green; */
}

.flag {
    height: 30px;
    width: 30px;
    background-color: red;
    border: 1px solid black;
}

#winMessage {
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
}

#flagCount {
    /* margin-top: 25px; */
    /* border: 1px solid black; */
    height: 35px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: red;
    /* background-color:green; */

}

#flexDiv {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    /* background-color: yellow; */
}

#timer {
    color: red;
}