.cell {
    height: 30px;
    width: 30px;
    background-image: url("closed.png");
    border: 1px solid black;
    
}

.mines {
    height: 30px;
    width: 30px;
    background-image: url("closed.png");
    /* background-color: green; */
    border: 1px solid black;
}

.revealedMines {
    height: 30px;
    width: 30px;
    background-image: url("mine.png");
    background-color: red;
    border: 1px solid black;
}

.safeCells {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: lightgray;
    border: 1px solid black;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.flag {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    background-image: url("flag.png");
}

#winMessage {
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
}

#flagCount {
    height: 35px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: red;
}

#flexDiv {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#timer {
    color: red;
}